:root {
    --jewel: #1B7340;
    --off-green: #F2FCF4;
    --mirage: #1D1D35;
    --oxley: #6F9B7B;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    color: var(--mirage);
    margin: 0;
    padding: 0;
    width: 320px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.extension-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--off-green);
}

.header {
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--jewel);
    color: white;
    padding: 10px;
    width: 100%;
}