:root {
    --jewel: #1B7340;
    --off-green: #F2FCF4;
    --mirage: rgb(29, 29, 53);
    --oxley: #6F9B7B;
}

#info-popup-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 53, 0.5);
    top: 0;
    left: 0;
    z-index: 1000;
}

#info-popup {
    font-size: 16px;
    background-color: var(--off-green);
    position: fixed;
    left: 75%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

#main-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#contracts-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#socials-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.section-item {
    padding: 5px;
}

.section-item-bold {
    font-weight: bold;
}